@charset "utf8";
/*********************** Global ***********************/
/* font */


/* reset */
* {box-sizing: border-box;}
*,*::before,*::after {box-sizing: border-box;}
html {background-color: #fff; font-size: 62.5%; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased}
body {margin: 0; color: #05141f; font-size: 1em; /* font-family: "KiaSignatureFix", sans-serif; */ font-family: 'Noto Sans', sans-serif; font-family: 'Noto Sans KR', sans-serif; -webkit-overflow-scrolling: touch}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display: block}
ul,ol,dl,dt,dd {margin: 0; padding: 0}
ol,ul {list-style: none}
li {list-style: none;}
em,address {font-style: normal}
figure {margin: 0}
hr {-webkit-box-sizing: content-box; box-sizing: content-box; overflow: visible; height: 0}
button {/* -webkit-appearance: none; */ -webkit-box-sizing: content-box; box-sizing: content-box; padding: 0; border: 0; background: transparent; cursor: pointer}
table {border-collapse: collapse; border-spacing: 0; empty-cells: show}
td {vertical-align: middle}
small {font-size: 80%}
audio,canvas,video {display: inline-block}
audio:not([controls]) {display: none; height: 0}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0; font-weight: 400; word-break: keep-all; word-wrap: break-word}
p {word-break: keep-all; word-wrap: break-word}
a {color: #0a0a0a; text-decoration: none; background-color: transparent; -webkit-text-decoration-skip: objects}
iframe {border: 0}
img,video {max-width: 100%; height: auto; border: 0; vertical-align: top; -ms-interpolation-mode: bicubic}
svg:not(:root) {overflow: hidden; max-width: 100%; vertical-align: top}
sup {vertical-align: text-top}
sub {vertical-align: text-bottom}
sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline}
sub {bottom: -.25em}
sup {top: -.5em}


/* icon */
@font-face {
  font-family: 'icon';
  src: url("../font/icon.woff2") format("woff2"),url("../font/icon.woff") format("woff");
  font-display: swap
}
.iconfont::before {display: inline-block; font-family: 'icon'; font-size: 2.4rem; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; text-transform: none;}
.iconfont--instagram::before {content: '\ea05';}
.iconfont--facebook::before {content: '\ea03';}
.iconfont--youtube::before {content: '\ea13';}


/* common */
/* .custom-scroll {overflow: overlay;}
.custom-scroll::-webkit-scrollbar {display: none;}
.custom-scroll::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.2);}
.custom-scroll::-webkit-scrollbar-track {background: transparent;} */

.hidden {display: none !important;}
.blind {position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden;}
.prevent-scroll {overflow: hidden; height: 100vh;}
.div-line > li + li::before {content: ''; display: inline-block; width: 1px; height: 1.1rem; margin-left: 1.1rem; margin-right: 1.1rem; background-color: #05141f; opacity: 0.2;}
.cpy {color: #000; opacity: 0.8; font-size: 1.4rem; font-weight: 300; letter-spacing: -.02em;}
.text--white {color: #fff;}
.pc-show {display: block;}
.mo-show {display: none;}
.break-pc {display: block;}

.btn-wrap {display: inline-block;}
.btn {overflow: hidden; display: inline-block; position: relative; font-size: 1.6rem; text-align: center; font-weight: 700; line-height: 1.2; vertical-align: middle; transition: 0.2s ease-out;}
.btn--outline {padding: 1.3rem 2.8rem 1.2rem; border: 1px solid #05141f;}
.btn--outline:hover {border-color: #05141f; background-color: #05141f; color: #fff; opacity: 0.8;}
.btn--outline.btn--white {border-color: #fff; color: #fff;}
.btn--outline.btn--white:hover {border-color: #fff; background-color: #fff; color: #05141f;}
.btn--sm {padding: 0.9rem 1.8rem .8rem; font-size: 1.4rem; line-height: 1.6rem;}
.btn__text {position: relative; z-index: 1;}

.util__item {display: flex; align-items: center;}
.util__item.sns > li + li {margin-left: 2rem;}
.util__corp {font-size: 1.3rem;}
.util__corp .corp__link {font-weight: 700;}
.util__lang {font-size: 1.5rem;}
.util__lang .lang--ko {font-weight: 700;}
.util__lang .lang--en {font-weight: 300;}


/* header */
.header {pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 14.1rem; background-color: transparent; transition: background-color .4s;}
.header.sub-open::before,
.header.sub-open::after {z-index: 9; content: ''; display: block; position: absolute; width: 100%; height: 1px; left: 0; right: 0; background-color: transparent; transition: background-color .4s;}
.header.sub-open::before {top: 8rem;}
.header.sub-open::after {bottom: 0;}
.header.sub-open:hover {background-color: #fff;}
.header.sub-open:hover.sub-open::before,
.header.sub-open:hover.sub-open::after {background-color: rgba(5, 20, 31, .2);}
.header__inner {pointer-events: auto; position: relative; z-index: 3; display: flex; justify-content: space-between; padding: 0 3rem;}
.header__logo {padding: 2.2rem 0;}
.header__logo .logo__link {display: block; width: 11.8rem; height: 3.2rem;}
.header__logo .svg--logo {width: 100%; height: 100%;}

.header__nav .nav__toggle {z-index: 99; display: none; position: absolute; top: 2rem; right: 2rem; width: 4.8rem; height: 3.7rem;}
.header__nav .toggle__link {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 2.8rem; height: 1.7rem;}
.header__nav .toggle__link .line {position: absolute; left: 0; display: block; width: 100%; height: 1px; background-color: #fff; transition: 0.4s;}
.header__nav .toggle__link .line:nth-child(1) {top: 0;}
.header__nav .toggle__link .line:nth-child(2) {top: 50%; transform: translateY(-50%);}
.header__nav .toggle__link .line:nth-child(3) {bottom: 0;}
.header__nav.is-open .toggle__link .line {background-color: #000;}
.header__nav.is-open .toggle__link .line:nth-child(1) {top: 0.8rem; transform: rotate(45deg);}
.header__nav.is-open .toggle__link .line:nth-child(2) {transition: none; opacity: 0;}
.header__nav.is-open .toggle__link .line:nth-child(3) {top: 0.8rem; transform: rotate(-45deg);}
.nav__inner {display: flex; align-items: center; flex-direction: row-reverse;}
.global {margin-left: 3rem; margin-top: 0.6rem;}
.global__btn {width: 3.2rem; height: 3.2rem;}
.global-region__svg {width: 100%; height: 100%;}
.gnb .menu {display: flex; align-items: center;}
.gnb .menu > li {position: relative;}
.gnb .menu > li:hover .submenu > li {display: flex;}
.gnb .menu > li + li {margin-left: 2rem;}
.gnb .menu__link {display: block; padding: 3.3rem 1.3rem 2.7rem; font-size: 1.7rem; font-weight: 700; color: #05141f;}
.gnb .submenu {position: absolute; left: 50%; transform: translateX(-50%); display: flex;}
.gnb .submenu--company {left: auto; transform: none; right: 0;}
.gnb .submenu > li {display: none;}
.gnb .submenu__link {display: block; padding: 2.3rem 1.5rem; min-width: max-content; font-size: 1.5rem; font-weight: 700; color: #05141f;}
.gnb .util {display: none;}


/* footer */
.footer__inner {display: flex; align-items: center; padding: 2.2rem 3rem; border-top: 1px solid rgba(5,20,31,0.2);}
.footer .util {flex: 1; display: flex; justify-content: space-between; align-items: center; margin-right: 2.6rem;}
.footer .util__corp {order: 1;}
.footer .util__sns {order: 3;}
.footer .util__lang {order: 2;}
.footer .sns__link {display: block;}
.footer .cpy {margin-right: 1rem;}



/*********************** Main ***********************/
/* main common */
.main {font-size: 1.6rem; line-height: 1.6;}
.main__inner {padding-top: 8rem;}
.section__inner {padding: 6rem 0;}
.section-area {max-width: 128rem; margin: 0 auto;}
.section__head {margin-bottom: 5rem; text-align: center;}
.section__title {font-size: 3.2rem; font-weight: 700; line-height: 1.4;}
.section__text {margin-top: 1.6rem; opacity: 0.8;}

/* banner */
.section {position: relative; overflow: hidden;}
.main-banner .section__inner {padding: 0;}
.main-banner .banner {height: calc(100vh / 1.5);}
.main-banner .banner__img {width: 100%; height: 100%;}
.main-banner .banner__img img {width: 100%; height: 100%; max-height: 100vh; object-fit: cover;}
.main-banner .banner__text {position: absolute; top: 20%; left: 10%;}
.main-banner .banner__title {font-size: 4.2rem; line-height: 1.4; font-weight: 700; letter-spacing: -.2px;}
.main-banner .banner__text .btn-wrap {margin-top: 1.5rem;}

/* movement */
.main-movement .section__inner {display: flex; align-items: center;}
.main-movement .section__head {flex: 1; margin-bottom: 0;}
.main-movement .section__title {text-align: left;}
.main-movement .movement {flex: 3;}
.main-movement .movement__box {display: flex; align-items: center;}
.main-movement .movement__item {position: relative; flex: 1; padding-bottom: 22.76%; transition: 0.4s;}
.main-movement .movement__item + .movement__item {margin-left: 3rem;}
.main-movement .movement__item:hover {flex: 2;}
.main-movement .movement__img {position: absolute; top: 0; left: 0; height: 100%;}
.main-movement .movement__img::before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(7,7,8,0.3); transition: 0.4s;}
.main-movement .movement__img img {height: 100%; object-fit: cover;}
.main-movement .movement__text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff;}
.main-movement .movement__text .text-more {display: none; position: relative; margin-top: 1rem; color: rgba(255,255,255,0.7); padding-right: 3.5rem;}
.main-movement .movement__text .text-more:before {content: ''; display: block; position: absolute; right: 0; bottom: 12px; width: 21px; border-top: 1px solid rgba(255,255,255,0.7);}
.main-movement .movement__text .text-more:after {content: ''; display: block; position: absolute; right: 0; bottom: 8px; width: 8px; height: 8px; transform: rotate(45deg); border-top: 1px solid rgba(255,255,255,0.7); border-right: 1px solid rgba(255,255,255,0.7);}
.main-movement .movement__title {font-size: 2.2rem; line-height: 1.4; font-weight: 700; text-align: center;}
.main-movement .movement__title > span {display: block;}
.main-movement .movement__item:hover .movement__text {left: 10%; transform: translate(0, -50%);}
.main-movement .movement__item:hover .movement__text .text-more {display: inline-block;}
.main-movement .movement__item:hover .movement__title {font-size: 2.8rem; text-align: left;}
.main-movement .movement__item:hover .movement__img::before {opacity: 0;}
.main-movement .swiper-scrollbar {display: none;}


/*********************** Media Query ***********************/
@media screen and (max-width: 1199px) {
  /* header */
  .global {margin-left: 0.8rem;}
  .gnb .menu > li + li {margin-left: 1rem;}
  .gnb .menu__link {padding: 3.3rem 1.3rem 2.7rem;}

  /* main */
  .section-area {max-width: 136rem; margin: 0 3rem;}
}

@media screen and (max-width: 959px) {
  /* common */
  .break-pc {display: inline-block;}

  /* header */
  .header {height: auto;}
  .header__inner {padding: 0 3rem; height: 7.6rem;}
  .header__logo {padding: 2.9rem 0 2.3rem;}
  .header__logo .logo__link {width: 8.9rem; height: 2.4rem;}
  .header__logo .svg--logo {fill: #fff;}

  .header__nav {z-index: 20; position: fixed; top: 0; right: 0;}
  .header__nav.is-open .nav__inner {display: block;}
  .header__nav .nav__toggle {display: block;}
  .nav__inner {width: 36.5rem; height: 100vh; display: none;}
  .global {background-color: #fff;}
  .global.nav__head {z-index: 98; position: fixed; width: 100%; height: 7.6rem; margin: 0;}
  .global__btn {position: absolute; top: 3rem; left: 3rem; width: 2.6rem; height: 2.6rem;}
  .gnb {height: 100%; background-color: #fff;}
  .gnb .menu {overflow-x: hidden; overflow-y: auto; display: block; padding: 7.6rem 3rem 4rem; height: calc(100% - 16rem);}
  .gnb .menu:after {content: ''; position: absolute; bottom: 150px; left: 0; right: 0; height: 40px; background: linear-gradient(180deg, rgba(255,255,255,0.01), white);}
  .gnb .menu > li {border-top: 1px solid rgba(0,0,0,0.2);}
  .gnb .menu > li:last-child {border-bottom: 1px solid rgba(0,0,0,0.2);}
  .gnb .menu > li + li {margin-left: 0;}
  .gnb .menu > li.has-sub::before {content: ''; position: absolute; top: 2rem; right: 1rem; width: 0.8rem; height: 0.8rem; border: solid #05141f; border-width: 0 1px 1px 0; transform: rotate(45deg); transition: -webkit-transform .2s;}
  .gnb .menu > li.has-sub.is-open .submenu {display: block;}
  .gnb .menu > li.has-sub.is-open:before {transform: rotate(-135deg); top: 2.8rem;}
  .gnb .menu__link {padding: 1.8rem 0; font-size: 1.8rem;}
  .gnb .submenu {display: none; position: static; transform: none; padding-bottom: 2rem;}
  .gnb .submenu > li {display: block; margin-left: 0;}
  .gnb .submenu__link {padding: 1rem 3rem 1.5rem; width: 100%; font-size: 1.6rem; font-weight: 400;}
  .gnb .util {display: flex; flex-direction: column; align-items: center; margin-top: 3rem;}
  .gnb .util__sns {margin-top: 3.2rem;}
  .gnb .util__lang {margin-top: 1.8rem;}


  /* main */
  .main__inner {padding-top: 0;}
  .section__inner {padding: 4rem 0;}
  .section__head {margin-bottom: 3rem;}
  .section__title {font-size: 2.6rem;}

  .main-banner .banner {height: calc(100vh / 1.15);}
  .main-banner .banner__title {font-size: 3.2rem;}

  .main-movement .section__inner {display: block;}
  .main-movement .section__title {text-align: center;}
  .main-movement .section__head {margin-bottom: 3rem;}
  .main-movement .movement {overflow: visible; padding-right: 21.9%; padding-bottom: 3.6rem;}
  .main-movement .movement .movement__item {flex: none; padding-bottom: 46.306%;}
  .main-movement .movement .movement__title {font-size: 1.6rem;}
  .main-movement .swiper-scrollbar {display: block;}


  /* footer */
  .footer {display: none;}
}

@media screen and (max-width: 719px) {
  /* common */
  .pc-show {display: none;}
  .mo-show {display: block;}

  /* main */
  .main-banner .banner__text {left: 50%; top: auto; bottom: 19%; transform: translateX(-50%); padding: 0 2rem; width: 100%; text-align: center;}
}

@media screen and (max-width: 396px) {

}

@media screen and (max-width: 359px) {
  html {font-size: 56.25%;}
}

