* {margin: 0; padding: 0; box-sizing: border-box;}
ol, ul {list-style: none;}
a {color: #05141f; text-decoration: none;}
button {padding: 0; border: 0; background-color: transparent;}
img {width: 100%; height: 100%; vertical-align: top;}
html {font-size: 62.5%; line-height: 1.15;}
body {color: #05141f; font-size: 1em; font-family: "KiaSignatureFix", sans-serif;}
.hidden {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
.btn {display: inline-block; padding: 13px 28px 12px 28px; font-size: 1.6rem; font-weight: 700; line-height: 1.2; vertical-align: middle; transition: all .2s ease-out;}
.btn--small {padding: 9px 18px 8px; font-size: 14px; line-height: 16px}
.btn--outline-white {color: #fff; border: 1px solid #fff;}
.btn.btn--outline-white:hover,
.btn.btn--outline-white:focus {color: #05141f; background-color: #fff; opacity: .8;}
.btn--outline-black {color: #05141f; border: 1px solid #05141f;}
.btn.btn--outline-black:hover,
.btn.btn--outline-black:focus {color: #fff; background-color: #05141f; opacity: .8;}

@font-face {
  font-family: 'icon';
  src: url("./assets/font/icon.woff2") format("woff2"), url("./assets/font/icon.woff2") format("woff");
  font-display: swap;
}
.iconfont::before {display: inline-block; font-family: 'icon'; font-size: 2.4rem; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; text-transform: none;}
.iconfont--instagram::before {content: '\ea05';}
.iconfont--facebook::before {content: '\ea03';}
.iconfont--youtube::before {content: '\ea13';}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content:space-between;
  /* align-items: center; */
  padding: 0 3rem;
  min-height: 8rem;
}
.logo {
  padding: 2.2rem 0;
}
.logo__link {
  display: block;
  width: 11.8rem;
  height: 3.2rem;
}
.svg--logo {
  width: 100%;
  height: 100%;
}
.menu-toggle {
  display: none;
}
/* .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
  margin-right: 2rem;
} */
.header__nav {
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  margin-right: 6.2rem;
}
.menu__list {
  position: relative;
}
.menu__list + .menu__list{
  margin-left: 2rem;
}
.menu__link {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 8rem;
  padding: 0 1.3rem;
  display: inline-block;
}
.menu-sub {
  display: none;
}
.util {
  position: absolute;
  top: 2.6rem;
  right: 0;
}
.global-region {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  /* margin-left: 1rem; */
}
.global-region__svg {
  width: 100%;
  height: 100%;
}
.footer-info {
  display: none;
}

/* main */
.main {
  padding-top: 8rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.main__section {
  padding: 6rem 0;
}
.section__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4;
}
.section__description {
  margin: 1.6rem 0 5rem 0;
  opacity: .8;
  text-align: center;
}
/* banner */
.main__banner {
  position: relative;
  overflow: hidden;
}
.banner {
  height: calc(100vh / 1.5);
}
.banner__img {
  width: 100%;
  height: 100%;
}
.banner__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}
.banner__img img {
  object-fit: cover;
}
.desktop-src {
  display: block;
}
.mobile-src {
  display: none;
}
.banner__cont {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
}
.banner__title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -.2px;
}
.banner__cont .btn {
  margin-top: 1.5rem;
}

/* movement */
.main__section.movement .section__inner {
  flex-direction: row;
}
.main__section.movement .section__title {
  flex: 1;
}
.movement-swiper {
  flex: 3;
}
.movement__item {
  flex: 1;
  text-align: center;
  height: 0;
  padding-bottom: 22.76%;
  transition: all .4s;
  position: relative;
}
.movement__item + .movement__item {
  margin-left: 3rem;
}
.movement__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.movement__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7,7,8,0.3);
}

.movement__img img {
  object-fit: cover;
}
.movement__cont {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movement__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
}
.movement__more {
  display: none;
  position: relative;
  margin-top: 1rem;
  color: rgba(255,255,255,0.7);
  transition: all .8s;
  padding-right: 3.5rem;
}
.movement__more::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 14px;
  width: 21px;
  border-top: 1px solid rgba(255,255,255,0.7);
}
.movement__more::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 8px;
  height: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid rgba(255,255,255,0.7);
  border-right: 1px solid rgba(255,255,255,0.7);
}
.movement__item:hover,
.movement__item:focus {
  flex: 2;
}
.movement__item:hover .movement__cont,
.movement__item:focus .movement__cont {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10%;
}
.movement__item:hover .movement__title,
.movement__item:focus .movement__title {
  font-size: 2.8rem;
  text-align: left;
}
.movement__item:hover .movement__more,
.movement__item:focus .movement__more {
  display: block;
}
/* vehicles */
.main__section.vehicles {
  background-color: #f6f2ed;
  overflow: hidden;
}
.vehicles-swiper {
  width: 100%;
  padding-right: 15%;
  overflow: visible;
}
.vehicles-swiper .swiper-wrapper {
  margin: 0 -2rem 4rem -2rem;
}
.vehicles__item {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  height: 37.8rem;
  cursor: pointer;
}
.vehicles__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.vehicles__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 8, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(7, 7, 8, 0.5)), to(rgba(7, 7, 8, 0)));
  background: -o-linear-gradient(bottom, rgba(7, 7, 8, 0.5) 10%, rgba(7, 7, 8, 0));
  background: linear-gradient(to top, rgba(7, 7, 8, 0.5) 10%, rgba(7, 7, 8, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(7, 7, 8, 0.5) 10%', endColorstr='rgba(7, 7, 8, 0)', GradientType=1);
}
.vehicles__cont {
  position: absolute;
  bottom: 5.5rem;
  left: 8.5rem;
}
.vehicles__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 2rem;
}
.vehicles-swiper .swiper-scrollbar {
  bottom: -4px;
}

/* magazine */
.magazine__list {
  max-width: 1060px;
  display: flex;
  margin: 0 -1.5rem;
}
.magazine__item {
  width: 33.3%;
  margin: 0 1.5rem;
}
.magazine__cont {
  margin-top: 2rem;
}
.magazine__description {
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.magazine__title {
  font-size: 1.8rem;
}
.magazine-btn {
  margin-top: 4rem;
}

/* footer */
.footer {
  width: 100%;
  border-top: 1px solid rgba(5,20,31,0.2);
  padding: 2.2rem 0 2rem 0;
}
.footer__container {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.info,
.lang,
.sns {
  display: flex;
  align-items: center;
}
.sns__item + .sns__item {
  margin-left: 2rem;
}
.info__item + .info__item::before,
.lang__item + .lang__item::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 11px;
  position: relative;
  top: 2px;
  margin: 0 0.6rem 0 1.1rem;
  opacity: .2;
  background-color: #05141f;
}
.info__link,
.is-active .lang__link,
.sns__link {
  font-weight: 700;
}
.info__link {
  font-size: 1.3rem;
}
.lang__link {
  font-weight: 300;
  font-size: 1.5rem;
}
.copy {
  font-size: 1.4rem;
  font-weight: 300;
  color: #000;
  opacity: .8;
  letter-spacing: -0.02rem;
  margin-right: 1rem;
}


@media screen and (min-width: 960px) {
  .info {
    flex: 1;
  }
  .lang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sns {
    margin-right: 2.6rem;
  }
}
@media screen and (max-width: 959px) {
  /* header */
  .header {
    height: auto;
  }
  .header__container {
    align-items: center;
    padding: 0 3rem;
    min-height: 7.6rem;
  }
  .logo {
    padding: 0;
    margin-top: 0.5rem;
  }
  .logo__link {
    width: 8.9rem;
    height: 2.4rem;
  }
  .svg--logo {
    fill: #fff;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .menu-toggle .line {
    display: block;
    width: 28px;
    height: 1px;
    position: relative;
    background-color: #fff;
  }
  .is-open .menu-toggle.open-btn {
    display: none;
  }
  .menu-toggle.close-btn {
    display: none;
  }
  /* .header__nav.is-open일 때, open-btn 사라지고 close-btn 노출 */
  .line + .line {
    margin-top: 7px;
  }
  .header__nav.is-open::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    opacity: 1;
    transition: all .4s;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 92%;
    height: 100%;
    max-width: 365px;
    transform: translateX(100%);
    background-color: #fff;
    z-index: 1;
  }
  .is-open .nav {
    transform: translate(0,0);
    align-items: flex-start;
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    height: calc(100% - 160px);
    padding: 0 3rem 4rem 3rem;
    margin-right: 0;
    margin-top: 7.6rem;
    overflow-y: auto;
  }
  .menu__list {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .menu__list:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu__list + .menu__list{
    margin-left: 0;
  }
  .menu__list.has-sub::before {
    content: '';
    position: absolute;
    top: 2rem;
    right: 1rem;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: solid #05141f;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: all .2s;
  }
  .menu__list.has-sub.is-open::before {
    transform: rotate(-135deg);
    top: 2.8rem;
  }
  .menu__list.has-sub.is-open .menu-sub {
    display: block;
  }
  .menu__link {
    line-height: inherit;
    font-size: 1.8rem;
    padding: 1.8rem 0;
  }
  .menu-sub {
    padding: 1rem 0;
  }
  .menu-sub__link {
    display: block;
    color: #05141f;
    padding: 0 3rem 2.5rem 3rem;
    font-size: 1.6rem;
  }
  .util {
    top: 3rem;
    left: 3rem;
  }
  .global-region {
    width: 2.6rem;
    height: 2.6rem;
  }
  .footer-info {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 2rem;
  }
  .info,
  .lang,
  .sns {
    justify-content: center;
  }
  .sns {
    margin: 2.2rem 0 1.8rem 0;
  }
  .info__item {
    margin-bottom: 1rem;
  }
  .menu-toggle.close-btn {
    display: block;
  }
  .menu-toggle.close-btn .line {
    background-color: #05141f;
  }
  .menu-toggle.close-btn .line:first-child {
    top: 8px;
    transform: rotate(45deg);
  }
  .menu-toggle.close-btn .line:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.close-btn .line:nth-child(3) {
    top: -8px;
    transform: rotate(-45deg);
  }

  /* main */
  .main {
    padding-top: 0;
  }
  .main__section {
    padding: 4rem 0;
  }
  .section__inner {
    padding: 0 3rem;
  }
  .section__title {
    font-size: 2.6rem;
  }
  .section__description {
    margin-bottom: 3rem;
  }

  /* banner */
  .main__banner {
    /* z-index: -1; */
  }
  .banner {
    height: calc(100vh / 1.15);
  }
  .banner__title {
    font-size: 3.2rem;
  }

  /* movement, vehicles */

  .magazine__list {
    max-width: none;
  }
  .magazine__description {
    font-size: 1.4rem;
  }
  .magazine__title {
    font-size: 1.6rem;
  }


  /* footer */
  .footer {
    border: none;
    padding: 0;
  }
  .footer__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
  }
  .footer__container .info,
  .footer__container .lang,
  .footer__container .sns {
    display: none;
  }
}

@media screen and (max-width: 719px) {
  
  /* main */

  /* banner */
  .desktop-src {
    display: none;
  }
  .mobile-src {
    display: block;
  }
  .banner__cont {
    top: auto;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  } 
  .banner__cont .btn {
    margin-top: 1.5rem;
  }

  /* movement, vehicles */
  .magazine__list {
    flex-direction: column;
    margin: 0;
  }
  .magazine__item {
    width: 100%;
    margin: 0;
  }
  .magazine__item + .magazine__item {
    margin-top: 3rem;
  }

  /* footer */
  .footer__container {
    padding-right: 0;
    padding-left: 0;
  }
}
